.booking-details{
    display: flex;
}
.booking-form{
    margin:30px auto;
}
.booking-form input {
    display: block;
    margin-top: 30px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 75vh;
}
.error{
    color: red;
}
#contact-title{
    text-align: right;
}

/* admin dashboard css */
.admin-area {
    background: #000;
    color: white;
    height: 100vh;
  }
  .admin-container {
    overflow-x: hidden;
  }
  .admin-menu {
    list-style: none;
    cursor: pointer;
  }
  .admin-menu:hover {
    color: blue;
  }