.booking-details{
    display: flex;
}
.booking-form{
    margin:30px auto;
}
.booking-form input {
    display: block;
    margin-top: 30px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 50vh;
}
.error{
    color: red;
}
#contact-title{
    text-align: right;
}