.add-service form{
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-service form input, textarea{
    width: 40%;
    margin-bottom: 15px;
}
.special-img{
    border-radius: 25px;
    width: 7rem;
}

/* manage service box css */
.manage-service-box{
    margin: 25px auto;
    display: block;
    overflow: auto;
    width: 99%;
    height: 40%;
}
.manage-btn{
    color:white;
    background-color: darkorange;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 25px;
}
.manage-btn:hover{
    background-color: black;
    transition: 1.5s;
}